<h2>Create a new manga</h2>
<%= form_tag(:controller => "mangas", :action => "create", :method => "post") do %>


  <div class="field">
    <%= label_tag "Manga Name:" %>
    <%= text_field_tag 'manga[name]', nil, :include_blank => false %>
  </div>

  <div class="field">
    <%= label_tag "author" %>
    <%= text_field_tag 'manga[author]', nil, :include_blank => false %>
  </div>


  <div class="actions">
    <%= submit_tag 'Create Manga', :class => "btn" %>
  </div>

<% end %>
