<%= form_for @page, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :chapter_id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>

  <p><%= f.submit %></p>
<% end %>
