
<div class="navbar" id="chapter-nav-bar">
	<div class="navbar-inner">
		<a class="brand"><%= @chapter.title %></a>

		<ul class="nav pull-right">
			<li id="chapter-previous-page"><a href="#">previous</a></li>
			<li id="chapter-next-page"><a href="#">next</a></li>
			<li class="divider-vertical"></li>
			<li>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">pages</a>
							<ul class="dropdown-menu">
								<% @chapter.pages.each do |page| %>
									<li id="page-dropdown">
										<a href="#" id="<%= dom_id(page) %>"><%= dom_id(page).split("_")[1] %></a>
									</li>
								<% end %> 
							</ul>
			</li>
		</ul>
	</div>
</div>

<div id='chapter'>
	<% @chapter.pages.each do |page| %>
		<div id='<%= dom_id(page) %>' class='chapter-page' data-active="false">
			<%= image_tag page.image_url if page.image? %>
		</div>
	<% end %>
</div>



