<!DOCTYPE html>
<html>
<head>
  <title>MangaReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand">Every Manga</a>
					<ul class="nav">
						<li class="active"><%= link_to "Manga List", mangas_path %></li>
					</ul>
					<ul class="nav nav-bar-user pull-right" id="top_nav_bar_user">
						<%= render 'layouts/nav_bar_user'%>
					</ul>
			</div>
		</div>
	</div>
	<div class='container'>
	  <% flash.each do |name, msg| %>
	    <%= content_tag :div, msg, :id => "flash#{name}" %>
	  <% end %>

		<%= yield %>
	
	</div>


</body>
</html>
