<!DOCTYPE html>
<html>
<head>
  <title>MangaReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand">Every Manga</a>
					<ul class="nav">
						<li class="active"><%= link_to "Manga List", mangas_path %></li>
					</ul>
					<ul class="nav pull-right">
						<% if current_user %>
							<li class="divider-vertical"></li>
							<li>Logged in as: <%= current_user.email %></li>
							<li class="divider-vertical"></li>
							<li><%= link_to "Log Out", log_out_path, :method => "delete" %></li>
							<li class="divider-vertical"></li>
						<% else %>
							<li class="divider-vertical"></li>
							<li><%= link_to "Sign Up", sign_up_path %></li>
							<li class="divider-vertical"></li>
							<li><%= link_to "Log In", log_in_path %></li>						
							<li class="divider-vertical"></li>
						<% end %>
					</ul>
			</div>
		</div>
	</div>
	<div class='container'>
	  <% flash.each do |name, msg| %>
	    <%= content_tag :div, msg, :id => "flash#{name}" %>
	  <% end %>

		<%= yield %>
	
	</div>


</body>
</html>
